<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>crosssell</name>
    <displayName><![CDATA[Venta Cruzada]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Modulo de Venta Cruzada para Guanxe.]]></description>
    <author><![CDATA[Reboot Academy Team]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
</module>