/**** tv designer css *********/
@import url("common.css");
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: normal;
	background-color: #ffffff;
	letter-spacing: 0.5px;
}
/* commn css*/
a {
	text-decoration: none
}
a:focus,
a:hover {
	color: #888888;
	text-decoration: none;
}
.btn-primary:hover {
	color: #fff;
	background-color: #888888;
	border-color: transparent
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover {
	color: #fff;
	background-color: #888888;
	border-color: #888888
}
.btn-outline-primary {
	color: #888888;
	background-image: none;
	background-color: transparent;
	border-color: #888888
}
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #888888;
	border-color: #888888
}
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover {
	color: #fff;
	background-color: #888888;
	border-color: #888888
}
.btn-primary {
	color: #fff;
	background-color: #373737;
	border-color: transparent
}
.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #373737;
	border-color: transparent;
}
.btn-outline-primary.active.focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.active:hover,
.btn-outline-primary:active.focus,
.btn-outline-primary:active:focus,
.btn-outline-primary:active:hover,
.open>.btn-outline-primary.dropdown-toggle.focus,
.open>.btn-outline-primary.dropdown-toggle:focus,
.open>.btn-outline-primary.dropdown-toggle:hover {
	color: #fff;
	background-color: #373737;
	border-color: #175c6a
}
.tag-primary[href]:focus,
.tag-primary[href]:hover {
	background-color: #373737
}
a.bg-primary:focus,
a.bg-primary:hover {
	background-color: #373737!important
}
a.text-primary:focus,
a.text-primary:hover {
	color: #373737;
}
.btn-link {
	font-weight: 400;
	color: #888888;
	border-radius: 0
}
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
	color: #fff;
	text-decoration: none;
	background-color: #888888;
	outline: 0
}
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
	color: #fff;
	cursor: default;
	background-color: #888888
}
.card-primary {
	background-color: #888888;
	border-color: #888888
}
.card-outline-primary {
	border-color: #888888
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #888888;
	border-color: #888888
}
.page-link {
	position: relative;
	float: right;
	padding: .5rem .75rem;
	margin-right: -1px;
	color: #888888;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd
}
.tag-primary {
	background-color: #888888
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	z-index: 2;
	color: #fff;
	text-decoration: none;
	background-color: #888888;
	border-color: #888888
}
.bg-primary {
	background-color: #888888
}
.text-primary {
	color: #888888
}
.btn-unstyle:focus .expand-more {
	color: #888888
}
.form-control:focus,
.input-group.focus {
	outline: none;
}
.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default {
	background: #888888;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	font-size: .875rem;
	padding: .5rem 1rem
}
.custom-radio input[type=radio]:checked+span {
	display: block;
	background-color: #888888;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	right: .125rem;
	top: .125rem
}
.dropdown-item:focus,
.dropdown-item:hover {
	background: none;
	text-decoration: none;
	color: #888888
}
#search.page-search #content-wrapper .tvcmsheader-search.search-widget form button[type=submit] i {
	color: #373737;
}
.search-widget form input[type=text]:focus+button .search {
	color: #888888
}
.search-widget form button[type=submit] .search:hover {
	color: #888888
}
#header .top-menu a[data-depth="0"]:hover {
	color: #888888;
	text-decoration: none
}
.top-menu .sub-menu a:hover {
	color: #888888
}
body#checkout section.checkout-step .delete-address,
body#checkout section.checkout-step .edit-address {
	display: inline-block;
	margin: 0 .3125rem;
	background: #373737 none no-repeat scroll 0 0;
	color: #FFF;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	-webkit-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
body#checkout section.checkout-step .delete-address,
body#checkout section.checkout-step .edit-address {
	background-color: #888888;
	color: #ffffff;
}
body#checkout section.checkout-step .delete-address:hover,
body#checkout section.checkout-step .edit-address:hover {
	background-color: #373737;
	color: #ffffff
;}
.page-my-account #content .links a:hover i {
	color: #888888
}
.carousel .carousel-control .icon-next:hover i,
.carousel .carousel-control .icon-prev:hover i {
	color: #888888
}
.products-sort-order .select-list:hover {
	background: #888888;
	color: #fff;
	text-decoration: none
}
.facet-dropdown.open>.select-title {
	border: 3px solid #888888;
	background: #f6f6f6
}
.facet-dropdown .select-list:hover {
	background: #888888;
	color: #fff;
	text-decoration: none
}
.pagination .current a {
	color: #888888;
	text-decoration: none;
	font-size: 1.25rem
}
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover {
	color: #888888
}
.block-categories .arrows .arrow-down:hover,
.block-categories .arrows .arrow-right:hover {
	color: #888888
}
.tabs .nav-tabs .nav-link.active {
	color: #888888
}
.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
	border: none;
	border-bottom: 3px solid #888888
}
#product-modal .modal-content .modal-body .product-images img:hover {
	border: 3px solid #888888
}
#blockcart-modal .product-name {
	color: #888888;
	font-size: 1.125rem
}
.product-images>li.thumb-container>.thumb.selected,
.product-images>li.thumb-container>.thumb:hover {
	border: 3px solid #888888
}
.product-customization .product-message:focus {
	background-color: #fff;
	outline: none;
}
.cart-grid-body a.label:hover {
	color: #888888
}
.tv-addtocart-price {
	color: #373737;
}
.block_newsletter form input[type=text]:focus {
	outline: none;
	color: #232323;
	background: #fff
}
.block_newsletter form input[type=text]:focus+button .search {
	color: #888888
}
.block_newsletter form button[type=submit] .search:hover {
	color: #888888
}

.account-list a:hover {
	color: #888888
}
#header .header-nav .cart-preview.active {
	background: #888888
}
#header .header-nav .blockcart a:hover {
	color: #888888;
}
#wrapper .breadcrumb li:last-child a, 
#wrapper .breadcrumb li:hover a {
	color: #000000;
}
.tv-continue-shopping-btn:hover {
	background-color: #888888;
	color: #ffffff;
}
.tvreviews-popup-send-btn a button, 
.tvreviews-popup-send-btn button{
	background-color: #373737;
	padding: 0 20px;
}
.page-footer a {
    background-color: #888888;
    padding: 10px 15px;
    color: #ffffff;
}
#search_filters_brands .facet .tvsearch-filter-brand-wrapper li.facet-label a:hover, 
.tvserach-filter-suppliers p:hover {
	color: #888888;
}
.tv-continue-shopping-btn,
.tvprocess-to-checkout {
	background-color: #888888;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.tv-continue-shopping-btn:hover,
.tvprocess-to-checkout:hover {
	background-color: #373737;
}
*::-webkit-scrollbar {
    width: 5px;
    background-color: #ddd;
}
*::-webkit-scrollbar-thumb{
    background-color: #888888;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
.tv-category-main-div,
.tvcenter-block-product-section {
	border: 1px solid #eeeeee;
}
/* end comman css */

#index #wrapper {
	background-color: #ffffff;
	padding-top: 0;
	padding-bottom: 0;
}
#wrapper {
    background-color: #fff;
    padding-top: 30px;
}
#cms #wrapper,
#category #wrapper,
#product #wrapper {
	padding: 0;
}
#authentication .radio-inline .custom-radio, 
#identity .radio-inline .custom-radio{
	margin-left: 8px;
}
.page-addresses .address, 
.page-authentication #content, 
#products .page-not-found{
	box-shadow: none;
	border: 1px solid #eeeeee;
}
#pagenotfound .page-not-found{
	box-shadow: none;
	border: 1px solid #eeeeee;
}
#authentication .radio-inline, #identity .radio-inline{
	padding: 0 0 0 10px;
}

#module-tvcmsblog-single .blog_post_content{
	overflow: hidden;
	margin-bottom: 30px;
}
input {
    outline: none;
    padding: 0 10px;
}
@media (min-width: 1200px) {
	.container {
	    width: 1320px;
	    max-width: 100%;
	}
}
/******************** theme ************/
.tvcms-loading-inner {
	background-color: transparent;
	padding: 0;
}
.tv-main-div  {
	position: relative;
}
@media (max-width: 991px) {
	.tvcmsmain-slider-wrapper {
	    margin-bottom: 50px;
	}
	.tvcmsmultibanners {
	    margin-bottom: 50px;
	}
}
.tvsearch-dropdown-total-wrapper:hover .tvsearch-dropdown-total {
	color: #888888;
}
.tvsearch-more-search:hover,
.tvcart-product-list-checkout:hover {
	background-color: #888888;
	color: #ffffff;
	border: 1px solid #888888;
}
.tvnews-event-link{
	width: 100%;
	overflow: hidden;
}
#header .tvcart-product-list-checkout:hover a {
	color: #ffffff;
}
/* slider */
.tvcmsmain-slider-wrapper {
	margin-bottom: 80px;
}
.tvmain-slider-contant .tvmain-slider-title {
    font-size: 30px;
    font-weight: 400;
    color: #222222;
}
.tvmain-slider-contant .tvmain-slider-info h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #222222;
    font-weight: 500;
    letter-spacing: 3px;
}
.tvmain-slider-contant .tvmain-slider-info p {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
}
.tvmain-slider-contant .tvmain-slider-button {
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #373737;
    padding: 0 0 10px 0;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    border-bottom: 1px solid #222222;
    border-radius: 0;
}
.tvmain-slider-contant .tvmain-slider-button:hover {
	color: #888888;
}
.tvmain-slider-contant.tvmain-slider-contant-right {
    text-align: right;
}
.tvmain-slider-contant.tvmain-slider-contant-center {
    text-align: center;
}
@media (max-width: 1499px) {
	.tvmain-slider-contant .tvmain-slider-info h2{
		font-size: 40px;
	}
	.tvmain-slider-contant .tvmain-slider-title {
	    font-size: 26px;
	}
}
@media (max-width: 991px) {
	.tvmain-slider-contant .tvmain-slider-info h2{
		font-size: 30px;
	}
	.tvmain-slider-contant .tvmain-slider-title {
	    font-size: 22px;
	}
}
@media (max-width: 768px) {
	.tvmain-slider-contant .tvmain-slider-info h2{
		font-size: 18px;
		margin-bottom: 5px;
	}
	.tvmain-slider-contant .tvmain-slider-title {
	    font-size: 16px;
	}
	.tvmain-slider-contant .tvmain-slider-info p {
	    font-size: 14px;
	}
	.tvmain-slider-contant .tvmain-slider-button {
	    font-size: 14px;
	}
}
/*category-slider*/
.tvcmscategory-slider{
	margin: 60px 0;	
}
.tvcmscategory-slider .owl-carousel .owl-item img{
	margin: 0;
	cursor: pointer;
}
.tvcategory-slider-wrapper-info{
	overflow: hidden;
}
.tvcategory-slider-content-box .tvcategory-slider-wrapper-info .tvcategory-img-block:after{
	content: "";
	position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    background-color: rgba(0,0,0,0.2);
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	cursor: pointer;
	height: 0;
}
.tvcategory-slider-content-box .tvcategory-slider-wrapper-info:hover .tvcategory-img-block:after{
	height: 100%;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.tvcategory-slider-info-box{
	left: 0;
    right: 0;
    top: 60%;
    text-align: center;
    -webkit-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
	opacity: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.tvcategory-slider-info-box a{
	font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tvcategory-slider-info-box a:hover{
	color: #fff;
}
.tvcategory-slider-content-box .tvcategory-slider-wrapper-info:hover .tvcategory-slider-info-box{
	top: 50%;
	opacity: 1;
}
.tvcategory-slider-main-title-wrapper{
	position: inherit;
}
.tvcategory-slider-inner-info-box{
	position: relative;
	overflow: hidden;
}
@media(max-width: 767px){
	.tvcmscategory-slider {
    	margin: 30px 0;
	}
}
/*offerbanners-two*/
.tvcmsofferbanners-two{
	margin-bottom: 60px;
}
.tvcmsofferbanners-two .tvbanner-wrapper{
	padding: 0;
}
.tvcmsofferbanners-two .tvbanner-wrapper .tvbanner-image-wrapper{
	position: relative;
	overflow: hidden;
}
.tvcmsofferbanners-two .tvbanner-wrapper .tvbanner-image-wrapper:after {
    content: "";
    position: absolute;
    opacity: 0.5;
    background-color: rgba(0,0,0,0.07);	
    top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
}
.tvcmsofferbanners-two .tvbanner-wrapper .tvbanner-image-wrapper:hover:after {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    opacity: 0;
}
.tvcmsofferbanners-two .tvtwobanner-all-img{
	margin: 0;
}
/* multi banner hover */
.tvcmsmultibanners {
    margin-bottom: 60px;
}
.tvbanner-hover-wrapper {
	position: relative;
}
.tvbanner-hover {
	bottom: 0;
	box-sizing: border-box;
	content: "";
	right: 0;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}
.tvbanner-hover1 {
	bottom: 0;
	box-sizing: border-box;
	content: "";
	right: 0;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}
.tvbanner-hover-wrapper:hover .tvbanner-hover{
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	right: 51%;
	left: 50%;
}
.tvbanner-hover-wrapper:hover .tvbanner-hover1{
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	bottom: 50%;
	top: 50%;
}
@media (max-width: 767px) {
	.tvcmsofferbanners-two{
		margin-bottom: 30px;
	}
}	
@media (max-width: 575px) {
	.tvbanner-hover-wrapper {
		text-align: center;
	}
	.tvbanner-hover-wrapper {
		margin-bottom: 15px;
	}
	.tvmultibanner3-wrapper .tvbanner-hover-wrapper {
		margin-bottom: 0;
	}
}
/*************** single block ****************/
.tvcmssingle-block {
	margin-bottom: 60px;
	position: relative;
}
.tvsingle-block-info-box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 15px;
    float: left;
    right: 57%;
    text-align: right;
}
.tvsingle-block-image-info-wrapper {
    position: relative;
    overflow: hidden;
}
.tvsingle-block-image-info-wrapper .tv-single-block-image img {
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}
.tvsingle-block-image-info-wrapper:hover .tv-single-block-image img {
	transform: scale(1.05);
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}
.tvsingle-block-image-info-wrapper .tvsingle-block-title {
    font-size: 24px;
    color: #373737;
    font-weight: 600;
    margin-bottom: 20px;
}
.tvsingle-block-sub-desc {
    font-size: 20px;
    color: #373737;
    margin-bottom: 10px;
    font-weight: 400;
}
.tvsingle-block-desc {
    font-size: 14px;
    color: #373737;
    line-height: 24px;
    margin-bottom: 40px;
}
.tvsingle-bolck-btn-link-wrapper .tvsingle-bolck-btn {
    color: #ffffff;
    background-color: #c8a264;
    border: none;
    text-transform: uppercase;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    cursor: pointer;
}
.tvsingle-bolck-btn-link-wrapper .tvsingle-bolck-btn:hover {
	background-color: #888888;
}
@media (max-width: 991px) {
	.tvcmssingle-block {
		margin-bottom: 50px;
	}
	.tvsingle-block-sub-desc {
		margin-bottom: 5px;
	}
	.tvsingle-block-image-info-wrapper .tvsingle-block-title {
		margin-bottom: 0;
	}
	.tvsingle-block-desc {
		margin-bottom: 15px;
	}
}
/***************** blog **********/
#index .tvcmsblog-event {
    margin-bottom: 80px;
}
.tvcmsblog-event .tvblog-event-all-content-block.tvblog-even .tvblog-img-block:after,
.tvcmsblog-event .tvblog-event-all-content-block.tvblog-odd .tvblog-img-block:after {
	display: none;
}
.tvnews-event-content-wrapper {
    text-align: right;
    padding: 30px 0;
}
.tvnews-event-read-more{
	text-align: left;
}
.tvnews-event-content-wrapper .tvdate-time {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    margin-bottom: 20px;
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.tvnews-event-content-wrapper .tvdate-time .day_time{
	padding: 0 5px;
}
.tvnews-event-content-wrapper .tvdate-time .date_icon i{
	font-size: 16px;
	color: #888888;
	margin-left: 10px;
	line-height: 12px;
}
.tvblog-event-inner-block {
	padding-top: 0; 
	margin: 0 -15px;
}
.tvblog-event-all-block{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.tvnews-event-content-wrapper .tvnews-event-titel a {
	color: #222222;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}
.tvblog-event-all-content-block:hover .tvnews-event-titel a {
	color: #888888;
}
.tvnews-event-description {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    -webkit-line-clamp: 2;
    margin-bottom: 0;
}
.tvnews-event-content-wrapper .tvnews-event-read-more a {
    border: none; 
    color: #9a816b;
    display: inline-block;
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    padding: 0;
}
.tvnews-event-content-wrapper .tvnews-event-read-more a:hover{
	color: #888888;
	background-color: transparent;
}
.tvnews-event-content-wrapper .tvnews-event-read-more a i {
	line-height: 20px;
	font-size: 13px;
	height: 20px;
	padding-right: 5px;
}
.tvnews-wrapper-info-box {
	background-color: transparent;
	padding: 0;
}
.tvblog-event-all-content-block {
    padding: 0 15px;
}
.tvblog-img-content-wrapper {
	background-color: #ffffff;
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}
.tvblog-event-all-content-block .tvblog-img-block .tvblog-content-img {
	position: relative;
	height: 290px;
}
.tvblog-event-all-content-block .tvnews-event-buttons i{
	color: #000;
	line-height: 60px;
}
.tvblog-event-all-content-block .tvnews-event-buttons i:hover{
	color: #888888;
}
.tvblog-event-all-content-block .tvblog-img-block .tvblog-content-img:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}
.tvblog-event-all-content-block:hover .tvblog-img-block .tvblog-content-img:after {
	
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}
.tvblog-event-all-content-block .tvnews-event-buttons{
	
    height: 60px;
    width: 60px;
    display: block;
	background-color: rgba(255, 255, 255, 0.96);
	transform: translate(50%,-50%) scale(0.5);
    -webkit-transform: translate(50%,-50%) scale(0.5);
    -ms-transform: translate(50%,-50%) scale(0.5);
    -o-transform: translate(50%,-50%) scale(0.5);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    text-align: center;
}
.tvblog-event-all-content-block .tvblog-img-block .tvblog-content-img,
.blog_post_content .tvnews-event-hoverbtn{
 	 transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
 }
.tvblog-event-all-content-block:hover .tvnews-event-buttons,
 .blog_post_content:hover .tvnews-event-buttons{
	opacity: 1;
    transform: translate(50%,-50%) scale(1);
    -webkit-transform: translate(50%,-50%) scale(1);
    -ms-transform: translate(50%,-50%) scale(1);
    -o-transform: translate(50%,-50%) scale(1);
}
.blog_post_content_top.tvblog-img-block,
.kr_blog_post_area .tvblog_post .post_thumbnail
{
	overflow: hidden;
}
.tv-event-content .post_meta{
	position: relative;
}
.tv-event-content .post_meta:before{
	content: "";
	position: absolute;
	height: 22px;
    width: 25px;
    background-color: transparent;
    background-image: url(../img/themevolty/sprite.png);
    background-position: -158px -11px;
    right: 20px;
    left: auto;
}
.tvblog-date-username .post_meta{
	display: inline-block;
	vertical-align: top;
}
.meta-author.tvnews-event-username {
    float: right;
   	margin-right: 55px;
    position: relative;
}

.meta-author.tvnews-event-username:after {
	position: absolute;
	content: "";
	height: 22px;
	width: 1px;
	background: #dddddd;
	top: 0px;
	right: -53px;
}
.tvblog-date-username  p {
	color: #888888;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: top;
	font-style: italic;
}
.tvallproduct-link {
	text-align: left;
}
.tvnews-event-link a,
.tvallproduct-link a,
.tvleft-right-penal-all-block .tvall-product-bottom-link-block a, 
.tvcmsblog-left-side .tvnews-event-link a{
	color: #373737;
	line-height: 20px;
}
.tvnews-event-link a:hover,
.tvallproduct-link a:hover,
.tvleft-right-penal-all-block .tvall-product-bottom-link-block a:hover, 
.tvcmsblog-left-side .tvnews-event-link a:hover {
	color: #888888;
}
.tvnews-event-link a i,
.tvallproduct-link a i,
.tvleft-right-penal-all-block .tvall-product-bottom-link-block a i, 
.tvcmsblog-left-side .tvnews-event-link a i{
	line-height: 15px;
	font-size: 15px;
}
.tvblob-all-submit-btn .tvcmsblog_submit_btn:hover {
	background-color: #888888;
}
.tvblog-event-all-content-block:hover .tvblog-img-block .tvblog-content-img,
.blog_post_content:hover .tvnews-event-hoverbtn 
{
	transform: scale(1.05);
    transition: all 0.6s ease-in-out 0s;
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
}
.blog_post_content:hover .tvnews-event-overly{
	background: transparent;
}
.blog_post_content .tvnews-event-hoverbtn .tvnews-event-buttons i{
	border: none;
	-webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    transform: unset;
}
.blog_post_content .tvnews-event-hoverbtn .tvnews-event-buttons:hover i{
	border: none;
}
.blog_post_content .tvnews-event-hoverbtn .tvnews-event-buttons i{
	color: #000;
	font-size: 24px;
}
#module-tvcmsblog-archive .tvpagination-title-item-main-wrapper{
	margin: 0; 
}
.tvpagination-title-item-wrapper .tvinner-page-pagination-wrapper {
	background-color: #f6f6f6;
	padding: 10px 0;
}
.kr_blog_post_inner.products{
	border: 1px solid #eee;
}
@media (max-width: 991px) {
	#index .tvcmsblog-event {
	    margin-bottom: 30px;
	}
	
}
@media (max-width: 768px) {
	
	.tvblog-event-all-content-block {
	    margin-bottom: 15px;
	}
	.tvnews-event-content-wrapper{
		padding: 15px 0;
	}
}
/*********** blog rtl **************/
.lang-rtl .tvblog-date-username{
	direction: ltr;
}
.lang-rtl .tvnews-event-content-wrapper .tvdate-time .date_icon i{
	margin-right: 10px;
	margin-left: 0;
}
.lang-rtl .tvnews-event-content-wrapper .tvdate-time{
	margin-right: 20px;
	margin-left: 0;
}

.lang-rtl .meta-author.tvnews-event-username{
	margin-right: 0;
    margin-left: 55px;
}
.lang-rtl .meta-author.tvnews-event-username:after {
	left: -53px;
    right: auto;
}
.lang-rtl .tv-event-content .post_meta:before{
	left: 30px;
	right: auto;
}
/*********** end blog rtl *********/

/**************************************** end blog **************************************/
/*********** left pannal ***********/
.tvcmsblog-left-side .tvblog-event-all-content-block {
    margin-bottom: 0;
}
.tvleft-right-title-wrapper, .tv-category-title-wrapper {
	text-align: right;
	padding: 10px 15px;
}
.tvleft-right-title.facet-label, 
.block-categories .category-top-menu > li.tv-category-title-wrapper a {
    text-align: right;
}
.tvleft-right-product-slider .tvproduct-wrapper {
	box-shadow: none;
}
.tvcmsblog-left-side .tvblog-event-inner-block {
    padding-top: 15px;
}
#products.grid .tvproduct-view.tvproduct-grid,
#products.grid-2 .tvproduct-view.tvproduct-grid-2,
#products.list .tvproduct-view.tvproduct-list,
#products.list-2 .tvproduct-view.tvproduct-list-2,
#products.catelog .tvproduct-view.tvproduct-catelog,
.tvcms-left-column-wrapper .tv-left-pannal-btn-wrapper:hover,
.tvcmsproduct-grid-list .tvproduct-view:hover,
.tv_search_filter_wrapper .tvleft-right-title-wrapper:hover {
	background-color: #888888;
}
#search_filters_brands .facet .tvsearch-filter-brand-wrapper li.facet-label a,
.tvserach-filter-suppliers p {
	color: #373737;
}
.tvleft-right-title-wrapper,
.tv-category-title-wrapper  {
    background-color: #373737;
}
.tvcategory-name {
    text-align: center;
    margin-top: 15px;
    color: #373737;
}
.tvcategory-name a {
    color: #373737;
}
#category #content-wrapper {
    padding-left: 0;
}
#category #left-column{
	background-color: #ffffff;
	padding-right: 0;
}
#category.lang-rtl #left-column {
    padding-right: 15px;
    padding-left: 0;
    float: left;
}
@media(min-width: 992px){
	#category.lang-rtl #content-wrapper {
    	padding-left: 15px;
    	padding-right: 0;
	}
}
#category .page-content.page-not-found .tvsearch-top-wrapper{
	padding: 0;
}

#pagenotfound #content-wrapper .tvsearch-header-display-wrappper {
    position: inherit;
    visibility: visible;
    opacity: 1;
    transform: unset;
    box-shadow: none;
}
#pagenotfound #content-wrapper .tvcmsheader-search.search-widget form button[type=submit] i {
    line-height: 40px;
    height: 40px;
    width: 40px;
    color: #222222;
}
/*******offerbanner***********/
.tvcmsofferbanners-one{
	margin-bottom: 80px;
}
.tvbanner-hover-wrapper{
	position: relative;
	overflow: hidden;
}
.tvcmsofferbanners-one .tvbanner-hover-wrapper {
    position: relative;
    display: block;
}
.tvcmsofferbanners-one .tvbanner-hover-wrapper:after {
    position: absolute;
    content: "";
    width: 30%;
    transform: skewX(-50deg);
    bottom: 0%;
    right: -110%;
    height: 100%;
    background-color: rgba(255,255,255,0.20);
    -webkit-transition: all 1s ease 0.1s;
    -o-transition: all 1s ease 0.1s;
    transition: all 1s ease 0.1s;
}
.tvcmsofferbanners-one .tvbanner-hover-wrapper:hover:after {
    right: 200%;
    -webkit-transition: all 1.3s ease 0.1s;
    -o-transition: all 1.3s ease 0.1s;
    transition: all 1.3s ease 0.1s;
}
@media(max-width: 767px){
	.tvcmsofferbanners-one{
		margin-bottom: 30px;
	}
}
/*****end offerbanner******************/
/********service - display-home.tpl***********/
/************* service *************/

.tvservice-all-block-image {
	overflow: hidden;
	position: relative;
}
.tvcmscustomer-services .tvservices-img-conut {
    margin: 0 0 0 15px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.tvservices-center .tvservices-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.tvcustomer-services .tvservice-inner{
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}
.tvcmscustomer-services .tvservices-content-box {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.tvservice-inner:hover .tvservice-all-block-image img {
	transform: scale(1.1);
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}
.tvservice-inner .tvservice-all-block-image img {
	transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
}
.tvcustomer-services .tvcmsmain-title-wrapper {
    margin-bottom: 27px;
}
.tvcmscustomer-services {
	background-color: #ffffff;
	margin-bottom: 80px;
}
.tvcmscustomer-services .tvservices-img-conut i {
	display: none;
}
.tvservice-shipping .tvservices-img {
	width: 60px;
	height: 60px;
	background-color: #222222;
	border-radius: 50px;
	background-image: url(../img/themevolty/Service-sprite.png);
	background-position: 0px 0px;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	box-shadow:  0px -3px 0px 0px rgba(102, 102, 102, 1) inset;
}
.tvservice-cash-delivery .tvservices-img {
	width: 60px;
	height: 60px;
	background-color: #222222;
	border-radius: 50px;
	background-image: url(../img/themevolty/Service-sprite.png);
	background-position: -60px 0px;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	box-shadow:  0px -3px 0px 0px rgba(102, 102, 102, 1) inset;
}
.tvservice-day-return .tvservices-img {
	width: 60px;
	height: 60px;
	background-color: #222222;
	border-radius: 50px;
	background-image: url(../img/themevolty/Service-sprite.png);
	background-position: -120px 0px;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	box-shadow:  0px -3px 0px 0px rgba(102, 102, 102, 1) inset;
}
.tvservice-customer-service .tvservices-img {
	width: 60px;
	height: 60px;
	background-color: #222222;
	border-radius: 50px;
	background-image: url(../img/themevolty/Service-sprite.png);
	background-position: -180px 0px;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	box-shadow:  0px -3px 0px 0px rgba(102, 102, 102, 1) inset;
}
.tvservice-shipping .tvservices-wrapper:hover .tvservices-img {
	background-position: 0px -60px;
	background-color: #f6f6f6;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	box-shadow: 0px -3px 0px 0px rgba(238, 238, 238, 1) inset;
}
.tvservice-cash-delivery .tvservices-wrapper:hover .tvservices-img {
	background-position: -60px -60px;
	background-color: #f6f6f6;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	box-shadow: 0px -3px 0px 0px rgba(238, 238, 238, 1) inset;
}
.tvservice-day-return .tvservices-wrapper:hover .tvservices-img {
	background-position: -120px -60px;
	background-color: #f6f6f6;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	box-shadow: 0px -3px 0px 0px rgba(238, 238, 238, 1) inset;
}
.tvservice-customer-service .tvservices-wrapper:hover .tvservices-img {
	background-position: -180px -60px;
	background-color: #f6f6f6;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
	box-shadow: 0px -3px 0px 0px rgba(238, 238, 238, 1) inset;
}
.tvcmscustomer-services .tvservice-day-return,
.tvcmscustomer-services .tvservice-customer-service {
	margin-bottom: 0;
}
.tvservices-content-box .tvservices-title {
	margin: 0;
	font-size: 16px;
	letter-spacing: 0;
	text-transform: uppercase;
	color: #222222;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 5px;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;	
}
.tvservices-content-box .tvservice-dec{
	font-size: 14px;
	line-height: 20px;
	color: #888888;
	text-transform: capitalize;
	letter-spacing: 0;
	font-family: 'Oswald', sans-serif;
}
.tvservices-wrapper:hover .tvservices-content-box .tvservices-title {
	color: #888888;
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
}

.owl-theme .owl-dots .owl-dot span{
	width: 15px;
	height: 15px;
	background-color: #888888;
	margin: 0 7px;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
	background: #9a8069;
	width: 15px;
}
.tvcms-left-testimonial .owl-theme .owl-dots .owl-dot span,{
	width: 10px;
	height: 10px;
}
@media(max-width: 767px){
	.owl-theme .owl-dots .owl-dot span,
	.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
		width: 10px;
		height: 10px;
	}
}
button:focus{
	outline: none;
}
@media (max-width: 991px) {
	.tvcmscustomer-services .tvservice-day-return {
		margin-bottom: 20px;
	}
	.tvcmscustomer-services {
		margin-bottom: 50px;
	}
	.tvblog-event-all-content-block .tvnews-event-buttons {
	    opacity: 1;
	}
}
@media (max-width: 768px) {
	.tvservice-all-block-wrapper {
	    display: block;
	}
	.tvservices-center.card {
	    width: 50%;
	}
	.tvservice-all-block-image {
		text-align: center;
	}
}
@media (max-width: 575px) {
	.tvservices-center.card {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.tvcmscustomer-services {
		margin-bottom: 30px;
	}
	.tvservices-center.card:last-child{
		margin-bottom: 30px;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
	}
	.tvservices-center .tvservices-wrapper{
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
	}


}
/***********start ltr service*******************/
.lang-rtl .tvcmscustomer-services .tvservices-content-box{
	text-align: left;
}
/**************end ltr******************/
/**********************end**********************************/
/************************ testimonial ********************/
.tvcmstestimonial {
	background-color: #f6f6f6;
	margin-bottom: 60px;
	padding: 30px 0;
}
.tvcmstestimonial .tvcms-main-title .tvmain-title, 
.tvcmstestimonial .tvcms-main-title .tvmain-sub-title, 
.tvcmstestimonial .tvcms-main-title .tvmain-desc, 
.tvcmstestimonial .tvtestimonial-dec {
    color: #888888;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
}
 
.tvtestimonial-inner-content-box .tvtestimonial-dec {
    color: #888888;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    font-style: italic;
}
.tvcmstestimonial .tvtestimonial-designation,
.tvcms-left-testimonial .tvtestimonial-designation{
	color: #998069;
	font-weight: 500;
	font-size: 14px;
	font-style: italic;
}
.tvcmstestimonial .tvcmstestimonial-main-title-wrapper {
	text-align: center;
	display: none;
}
.tvtestimonial-title a {
	text-transform: capitalize;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #373737;	
}

.tvcms-testimonial-pagination-wrapper .tvcms-testimonial-next-pre-btn .tvtestimonial-prev, 
.tvcms-blog-left-side-pagination-wrapper .tvcms-blog-left-side-next-pre-btn .tvblog-left-side-prev,
.tvcms-testimonial-pagination-wrapper .tvcms-testimonial-next-pre-btn .tvtestimonial-next, 
.tvcms-blog-left-side-pagination-wrapper .tvcms-blog-left-side-next-pre-btn .tvblog-left-side-next,
.tvcms-left-testimonial .tvcms-testimonial-pagination-wrapper .tvcms-testimonial-next-pre-btn .tvtestimonial-prev, 
.tvcms-left-testimonial .tvcms-testimonial-pagination-wrapper .tvcms-testimonial-next-pre-btn .tvtestimonial-next {
	background-color: transparent;
}
.tvcms-testimonial-pagination-wrapper .tvcms-testimonial-next-pre-btn .tvtestimonial-next,
.tvcms-blog-left-side-pagination-wrapper .tvcms-blog-left-side-next-pre-btn .tvblog-left-side-next {
	margin-left: -40px;
	height: 40px;
	width: 40px;
}
.tvcms-testimonial-pagination-wrapper .tvcms-testimonial-next-pre-btn .tvtestimonial-prev, 
.tvcms-blog-left-side-pagination-wrapper .tvcms-blog-left-side-next-pre-btn .tvblog-left-side-prev {
	margin-right: -40px;
	height: 40px;
	width: 40px;
}

.tvtestimonial-slider-inner{
	max-width: 760px;
    margin: 0 auto;
}
.tvtestimonial-inner-content-box {
    margin-bottom: 20px;
}
.tvcms-left-testimonial .tvtestimonial-inner-content-box{
	margin-bottom: 20px;
}
.tvcms-testimonial-pagination-wrapper{
	display: none;
}
/* brand -*/
.tvcmsbrandlist-slider {
	margin-bottom: 80px;
}
.tvcmsbrandlist-slider .tvcmsbrandlist-slider-main-title-wrapper {
	display: none;
}
.tv-product-page-add-to-cart-wrapper .add-to-cart {
	padding: 7px 15px;
	text-transform: capitalize;
	font-weight: 500;
}
.tv-product-page-add-to-cart-wrapper .add-to-cart:hover {
	background-color: #888888;
}
.owl-carousel .owl-item .tvbrandlist-slider-wrapper-info .tvbrand-img-block img{
	opacity: 1;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    -ms-opacity: 0.6;
    -o-opacity: 0.6;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    max-width: 100%;
    margin: 0 auto;
    width: auto;
}
.owl-carousel .owl-item .tvbrandlist-slider-wrapper-info .tvbrand-img-block:hover img{
	opacity: 0.6;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
/************* media *************/
@media (max-width: 991px){
	.tvcmsbrandlist-slider{
		margin-bottom: 30px;
	}
}
/*********** end blog *************/
/**** theme control */
.tvcmstheme-control .tvtheme-control-icon{
    background-color: #373737;
    border-radius: 0;
}
.tvcmstheme-control{
	left: -289px;
}
.tvcmstheme-control .tvtheme-control-icon:hover{
    background-color: #888888;
}
.tvcmstheme-control .tvtheme-control-wrapper {
    width: 290px;
    padding: 15px 15px;
    border-radius: 0;
    background-color: #ffffff;
    text-align: center;
    transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
}
.tvtheme-control-wrapper .tvtheme-all-pattern .tvtheme-pattern-image {
	border-radius: 4px;
    box-shadow: -1px 1px 0px 0px rgba(0, 0, 0, 0.16);
}
.tvtheme-control-title-name-reset-btn p {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
}
.tvtheme-control-wrapper .tvtheme-control-reset {
    background-color: #373737;
    padding: 5px 20px;
    margin-top: 15px;
    vertical-align: top;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 1px;
}
.tvtheme-control-wrapper .toggle.btn {
    min-width: 70px;
    min-height: 30px;
}
.tvtheme-control-wrapper .tvtheme-option .toggle-off.btn {
    padding: 6px 20px 6px 0;
}
.tvtheme-control-wrapper .tvtheme-option .toggle-on.btn {
    padding: 6px 0px 6px 20px;
}
.tvtheme-control-wrapper td {
	padding: 15px 0;
	border-bottom: 1px solid #eeeeee;
}
.tvtheme-control-wrapper .tvselect-theme-name,
.tvtheme-control-wrapper .tvcolor-theme-name, 
.tvtheme-control-wrapper .tvtheme-layout-name, 
.tvtheme-control-wrapper .tvtheme-animation-name,
.tvtheme-control-wrapper .tvtheme-page-loader-name, 
.tvtheme-control-wrapper .tvtheme-left-sticky-name, 
.tvtheme-control-wrapper .tvtheme-right-sticky-name, 
.tvtheme-control-wrapper .tvtheme-menu-sticky-name, 
.tvtheme-control-wrapper .tvbgcolor-theme-name,
.tvtheme-control-wrapper .tvtheme-background-pattern-name {
    font-size: 14px;
    padding-bottom: 10px;
    color: #373737;
    font-weight: 500;
    text-transform: uppercase;
}
.tvtheme-control-wrapper .tvtheme-background-pattern-name {
	float: none;
}
.tvtheme-control-title-name-reset-btn {
    border-bottom: 1px solid #eeeeee;
}
.tvtheme-control-wrapper .tvtheme-option .btn-default {
	background-color: #373737;
}
.tvtheme-control-wrapper .tvtheme-option .btn-primary {
	background-color: #888888;
}
.tvtheme-control-wrapper .tvtheme-option .toggle-handle {
	background-color: #ffffff;
}
.tvtheme-control-wrapper .tvtheme-control-reset:hover {
    background-color: #888888;
}
.tvcmstheme-control .tvtheme-control-wrapper .tvselect-theme select {
	background-image: url(../img/themevolty/arrow-down.png);
	background-color: #373737;
	color: #ffffff;
	width: 150px;
	border-radius: 4px;
	padding: 5px;
	background-repeat: no-repeat;
    background-position: 4%;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	cursor: pointer;
}
.tvcmstheme-control .tvtheme-control-wrapper .tvselect-theme select::-ms-expand{
	display: none;
}
.tvcmstheme-control .tvtheme-control-wrapper .tvselect-theme select option {
	background-color: #ffffff;
	color: #222222;
}
.tvcmstheme-control .tvtheme-control-wrapper .tvselect-theme select option:hover {
	background-color: #888888;
	color: #ffffff;
}
.tvtheme-control-wrapper .tvall-theme-content {
	text-align: center;
}
.tvtheme-control-wrapper .tvtheme-all-pattern-wrapper {
    width: 162px;
    margin: auto;
    overflow: hidden;
    clear: both;
}
.tvtheme-control-wrapper .tvtheme-color-box {
    float: none;
}
.tvtheme-control-wrapper .tvtheme-bgcolor-box input,
.tvtheme-control-wrapper .tvtheme-color-box input {
    height: 28px;
    padding: 0 32px 0 0;
    width: 100%;
}

/******************************************new button*******************************/
.box input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
	display: none;
}

.box label {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
    height: 33px;
	background: #bbbbbb;
	display: block;
	border-radius: 3px;
	padding: 4px;
	position: relative;
}

.box label:after {
	content: '';
	position: absolute;
    right: 4px;
    left: auto;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 3px;
    transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
}

.box input:checked + label {
	background: #888888;
}

.box input:checked + label:after {
	right:95%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.box label:active:after {
	width: 45px;
}
.tvcmstheme-control .tvtheme-option{
	border: none;
	margin: 0 auto;
}
.tvcmstheme-control .tvtheme-control-icon i{
	-webkit-animation-name: none;
	animation: none;
}
.minicolors-theme-default.minicolors{
	vertical-align: top;
}
/******* media *****/
@media (max-width: 991px) {
	.tv-newsletter-wrapeer {
		padding: 50px;
	}
}
@media (max-width: 768px) {
	.tvcmsmain-slider-wrapper,
	.tvcmsmultibanners {
	    margin-bottom: 30px;
	}
	.tvsingle-block-info-box {
		position: inherit;
		transform: none;
		background-color: #f2ebd8;
		right: 0;
		padding: 15px;
		left: 0;
	}
	.tvcmstestimonial {
		margin-bottom: 30px;
		padding: 30px 0;
	}
	.tvcmsbrandlist-slider {
	    margin-bottom: 30px;
	}
	.tv-newsletter-wrapeer {
		padding: 30px 15px;
	}
}
@media (max-width: 767px) {
	.tvcmstab-title-product {
		    margin-bottom: 30px;
	}
}
@media (max-width: 575px) {
	.tvcms-main-title .tvmain-sub-title {
		font-size: 14px;
	}
}
/**************** rtl*************/
.lang-rtl .tvcmscustomer-services .tvservices-img-conut {
    margin-right: 15px;
    margin-left: 0;
}
.lang-rtl .tvtheme-control-wrapper .tvtheme-color-box{
	float: none;
}
.lang-rtl .tvcmsfooter-social-icon .tvfooter-social-icon-wrapper li {
	text-align: center;
}


.lang-rtl .tvnews-event-content-wrapper .tvnews-event-read-more a i {
    line-height: 28px;
}
.lang-rtl .tvnews-event-content-wrapper {
    text-align: left;
}
.lang-rtl .tvcmstheme-control .tvtheme-control-wrapper .tvselect-theme select{
	background-position: 96%;
}
.lang-rtl #products.list .tvproduct-wrapper .tv-product-list, 
.lang-rtl .tvproduct-wrapper.list .tv-product-list{
	margin: 0 20px 0 0;
}

.lang-rtl #products.list .tvtimer-wrapper .tvproduct-timer-wrapper:first-child,
.lang-rtl #products.list-2 .tvtimer-wrapper .tvproduct-timer-wrapper:first-child{
	margin: 0;
}

.lang-rtl .tvproduct-timer-wrapper{
	float: none;
}
.lang-rtl .tvproduct-timer-wrapper:first-child{
	margin: 0;
}
.lang-rtl .tv-vertical-menu-icon-wrapper {
	right: 0;
}
.lang-rtl .tvcmsvertical-menu li .tvvertical-menu-dropdown-icon {
	text-align: right;
}
.lang-rtl .tvmain-slider-next-pre-btn .tvcmsmain-prev:after {
	left: -5px;
}
.lang-rtl  .tvtab-title-wrapper .tvtabs-products li:last-child:after {
	display: block;
}
.lang-rtl  .tvtab-title-wrapper .tvtabs-products li:first-child:after {
	display: none;
}
.lang-rtl #authentication .radio-inline .custom-radio, 
.lang-rtl #identity .radio-inline .custom-radio{
	margin: 0 8px 0 0;
}
.lang-rtl #authentication .radio-inline, 
.lang-rtl #identity .radio-inline{
	padding: 0 10px 0 0;
}
@media (max-width: 991px) {
	.lang-rtl .tvtab-title-wrapper {
	    float: none;
	}
	.lang-rtl .tvtab-main-title-wrapper {
	    float: none;
	}
	.lang-rtl .tvtab-title-wrapper, 
	.lang-rtl .tvtab-title {
	    float: unset;
	    margin: 0;
	}
	
}
@media (max-width: 575px) {
	.lang-rtl .tvtab-main-title-wrapper {
	    float: none;
	}
	.lang-rtl .tvcms-main-title .tvmain-title {
	    text-align: center;
	}
	.lang-rtl .tvtab-title-wrapper .tvtabs-products li:last-child:after {
	    display: none;
	}
}