*::-webkit-scrollbar-thumb{
    background-color: #maincolor1;
}
a:focus,
a:hover,
.btn-outline-primary,
.btn-link,
.page-link,
.text-primary,
.btn-unstyle:focus .expand-more,
.dropdown-item:focus,
.dropdown-item:hover,
.search-widget form input[type=text]:focus+button .search,
.search-widget form button[type=submit] .search:hover,
#header .top-menu a[data-depth="0"]:hover,
.top-menu .sub-menu a:hover,
.page-my-account #content .links a:hover i,
.carousel .carousel-control .icon-next:hover i,
.carousel .carousel-control .icon-prev:hover i,
.pagination .current a,
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover,
.block-categories .arrows .arrow-down:hover,
.block-categories .arrows .arrow-right:hover,
.tabs .nav-tabs .nav-link.active,
#blockcart-modal .product-name,
.cart-grid-body a.label:hover,
.block_newsletter form input[type=text]:focus+button .search,
.block_newsletter form button[type=submit] .search:hover,
.account-list a:hover,
#header .header-nav .blockcart a:hover,
#search_filters_brands .facet .tvsearch-filter-brand-wrapper li.facet-label a:hover, 
.tvserach-filter-suppliers p:hover,
.tvsearch-dropdown-total-wrapper:hover .tvsearch-dropdown-total,
.tvmain-slider-contant .tvmain-slider-button:hover,
.tvnews-event-content-wrapper .tvdate-time .date_icon i,
.tvblog-event-all-content-block:hover .tvnews-event-titel a,
.tvnews-event-description,
.tvnews-event-content-wrapper .tvnews-event-read-more a:hover,
.tvblog-event-all-content-block .tvnews-event-buttons i:hover,
.tvblog-date-username  p,
.tvnews-event-link a:hover,
.tvallproduct-link a:hover,
.tvleft-right-penal-all-block .tvall-product-bottom-link-block a:hover, 
.tvcmsblog-left-side .tvnews-event-link a:hover,
.tvservices-content-box .tvservice-dec,
.tvservices-wrapper:hover .tvservices-content-box .tvservices-title,
.tvcmstestimonial .tvcms-main-title .tvmain-title, 
.tvcmstestimonial .tvcms-main-title .tvmain-sub-title, 
.tvcmstestimonial .tvcms-main-title .tvmain-desc, 
.tvcmstestimonial .tvtestimonial-dec,
.tvtestimonial-inner-content-box .tvtestimonial-dec,
#tvcmsdesktop-main-menu .tvcmsmain-menu-wrapper .tv-header-menu li.current > .tvmenu-link-wrapper > a > span,	
#tvcmsdesktop-main-menu .tvcmsmain-menu-wrapper .tv-header-menu li:hover > .tvmenu-link-wrapper > a > span,
#tvcmsdesktop-main-menu .tvcmsmain-menu-wrapper .tv-header-menu[data-depth="1"] > li > .tvmenu-link-wrapper a span:hover, 
#tvcmsdesktop-main-menu .tvcmsmain-menu-wrapper .tv-header-menu li .tvmenu-link-wrapper a span:hover,
.tvmenu-link-wrapper:hover a span,
.tvcms-header-menu .tv-header-menu > li:hover > .tvmenu-link-wrapper i,
.tvcms-header-menu .tv-header-menu > li.current > .tvmenu-link-wrapper i,
.tvmenu-link-wrapper .tvdropdown-submenu.tvmenu-link span:hover,
#tvcmsdesktop-language-selector:hover .tv-language-btn i, 
#tvcmsdesktop-currency-selector:hover .tv-currency-btn i, 
#tvcmsdesktop-user-info:hover .tvhedaer-sign-btn i,
#tvcmsdesktop-language-selector:hover .tv-language-btn .tv-language-span, 
#tvcmsdesktop-currency-selector:hover .tv-currency-btn .tv-currency-span, 
#tvcmsdesktop-user-info .tvhedaer-sign-btn:hover,
.product-price-and-shipping .regular-price,
.tvproduct-page-wrapper .tvall-product-star-icon .tvall-product-review,
.tv-language-dropdown li a:hover, .tv-currency-dropdown li a:hover,
.tvtab-pagination .tvtab-featured-pagination-next-pre-btn .tvtab-featured-product-prev, 
.tvtab-pagination .tvtab-new-pagination-next-pre-btn .tvtab-new-product-prev, 
.tvtab-pagination .tvtab-best-seller-pagination-next-pre-btn .tvtab-best-seller-product-prev, 
.tvtab-pagination .tvtab-special-pagination-next-pre-btn .tvtab-special-product-prev, 
.tvcmsspecial-pagination .tvcmsspecial-next-pre-btn .tvcmsspecial-prev, 
.tvcmsfeatured-pagination .tvcmsfeatured-next-pre-btn .tvcmsfeatured-prev, 
.tvcmsbest-seller-pagination .tvcmsbest-seller-next-pre-btn .tvcmsbest-seller-prev, 
.tvcmsnew-pagination .tvcmsnew-next-pre-btn .tvcmsnew-prev, 
.tvcategory-slider-pagination .tvcategory-slider-next-pre-btn .tvcategory-slider-prev, 
.tvcms-imagegallery-pagination-wrapper .tvcms-imagegallery-next-pre-btn .tvimagegallery-slider-prev, 
.tvlike-pagination-wrapper .tvcmslike-next-pre-btn .tvcmslike-prev, 
.tvcross-selling-pagination-wrapper .tvcmscross-selling-next-pre-btn .tvcmscross-selling-prev,
.tvsame-category-pagination-wrapper .tvcmssame-category-next-pre-btn .tvcmssame-category-prev,
.tvcmsblog-event-home-pagination-wrapper .tvcmsblog-event-home-slider-prev,
.tvmain-slider-next-pre-btn .tvcmsmain-prev,
.tvtab-pagination .tvtab-featured-pagination-next-pre-btn .tvtab-featured-product-next, 
.tvtab-pagination .tvtab-new-pagination-next-pre-btn .tvtab-new-product-next, 
.tvtab-pagination .tvtab-best-seller-pagination-next-pre-btn .tvtab-best-seller-product-next, 
.tvtab-pagination .tvtab-special-pagination-next-pre-btn .tvtab-special-product-next, 
.tvcmsspecial-pagination .tvcmsspecial-next-pre-btn .tvcmsspecial-next, 
.tvcmsfeatured-pagination .tvcmsfeatured-next-pre-btn .tvcmsfeatured-next, 
.tvcmsbest-seller-pagination .tvcmsbest-seller-next-pre-btn .tvcmsbest-seller-next, 
.tvcmsnew-pagination .tvcmsnew-next-pre-btn .tvcmsnew-next, 
.tvcategory-slider-pagination .tvcategory-slider-next-pre-btn .tvcategory-slider-next, 
.tvcms-imagegallery-pagination-wrapper .tvcms-imagegallery-next-pre-btn .tvimagegallery-slider-next, 
.tvlike-pagination-wrapper .tvcmslike-next-pre-btn .tvcmslike-next, 
.tvcross-selling-pagination-wrapper .tvcmscross-selling-next-pre-btn .tvcmscross-selling-next, 
.tvsame-category-pagination-wrapper .tvcmssame-category-next-pre-btn .tvcmssame-category-next,
.tvcmsblog-event-home-pagination-wrapper .tvcmsblog-event-home-slider-next,
.tvmain-slider-next-pre-btn .tvcmsmain-next,
.block_newsletter .tvnewsletter-sub-title,
.block_newsletter form input[type=email]::placeholder,
.tvfooter-logo-link-wrapper,
.tvfooter-store-link a:hover,
.tvfooter-storelogo-imformation .tvfooter-logo-link-wrapper a:hover,
.tvcopylink p,
.footer-container li:hover a{
	color: #maincolor1;
}
.btn-primary:hover,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.card-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.tag-primary,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.bg-primary,
.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default,
.custom-radio input[type=radio]:checked+span,
body#checkout section.checkout-step .delete-address,
body#checkout section.checkout-step .edit-address,
.products-sort-order .select-list:hover,
.facet-dropdown .select-list:hover,
#header .header-nav .cart-preview.active,
.tv-continue-shopping-btn:hover,
.page-footer a,
.tv-continue-shopping-btn,
.tvprocess-to-checkout,
.tvsearch-more-search:hover,
.tvcart-product-list-checkout:hover,
.tvsingle-bolck-btn-link-wrapper .tvsingle-bolck-btn:hover,
.tvblob-all-submit-btn .tvcmsblog_submit_btn:hover,
#products.grid .tvproduct-view.tvproduct-grid,
#products.grid-2 .tvproduct-view.tvproduct-grid-2,
#products.list .tvproduct-view.tvproduct-list,
#products.list-2 .tvproduct-view.tvproduct-list-2,
#products.catelog .tvproduct-view.tvproduct-catelog,
.tvcms-left-column-wrapper .tv-left-pannal-btn-wrapper:hover,
.tvcmsproduct-grid-list .tvproduct-view:hover,
.tv_search_filter_wrapper .tvleft-right-title-wrapper:hover,
.owl-theme .owl-dots .owl-dot span,
.tv-product-page-add-to-cart-wrapper .add-to-cart:hover,
.tvcmstheme-control .tvtheme-control-icon:hover,
.tvtheme-control-wrapper .tvtheme-option .btn-primary,
.tvtheme-control-wrapper .tvtheme-control-reset:hover,
.tvcmstheme-control .tvtheme-control-wrapper .tvselect-theme select option:hover,
.box input:checked + label,
.tvproduct-cart-quentity-increment:hover, 
.tvproduct-cart-quentity-decrement:hover,
.nivo-controlNav .nivo-control,
.nivo-controlNav .nivo-control.active,
.block_newsletter form .tvnewsleteer-btn-wrapper .btn-primary:hover,
.footer-container li a:before,
.tvbottom-to-top,
.tvcmsNewsLetterPopup-i .tvnewsletterpopup-button-icon,
#newsletter_block_popup .block_content .send-reqest {
	background-color:  #maincolor1;
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover
.card-primary,
.card-outline-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	border-color: #maincolor1;
}
.facet-dropdown.open>.select-title {
	border: 3px solid #maincolor1;
}
.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
	border-bottom: 3px solid #maincolor1
}
#product-modal .modal-content .modal-body .product-images img:hover {
	border: 3px solid #maincolor1
}
.product-images>li.thumb-container>.thumb.selected,
.product-images>li.thumb-container>.thumb:hover {
	border: 3px solid #maincolor1
}
.tvsearch-more-search:hover,
.tvcart-product-list-checkout:hover {
	border: 1px solid #maincolor1
}